<div class="rightcolumn">
    <div class="card">
        <div class="panel-body text-center">
            <img class="panel-profile-img mb10" src="">
            <h3 class="panel-title"><strong>Mr Thai Binh Phuong</strong></h3>
            <p>Intern Ruby on Rails</p>
            <a href="#" target="_blank" class="btn btn-primary btn-sm">
                <span class="icon icon-add-user"></span> Read More
            </a>
        </div>
    </div>
    <div class="card">
        <h3>Bài viết liên quan </h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
    </div> 
</div>