<!-- Footer -->
<footer class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Designe:© Thái Bình Phương </p>
    </div>
</footer>